.main-div {
    padding: 10px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .tabs {
        height: 50px;
    }

    .profile {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        ion-list {
            width: 100%;
        }

        ion-button {
            margin: 0 0 50px 0;
        }
    }
}

.active-tab {
    background-color: #007bff;
    color: #ffffff;
    transition: 0.3s;
}
