ion-header {
    background-color: none;
    ion-button {
        color: black;

        ion-icon {
            font-size: 20px;
        }
    }
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .icon-top {
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;
        gap: 2px;
    }

    .icon-bottom {
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;
        gap: 2px;
    }

    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        height: 110px;
        width: 110px;
        border: 2px solid black;
        border-radius: 25px;
        font-size: 14px;

        ion-icon {
            font-size: 30px;
        }
    }
}
