ion-header {
    background-color: none;
    ion-button {
        color: black;

        ion-icon {
            font-size: 20px;
        }
    }
}

// ion-content {
//     --ion-background-color: #00639c;
// }

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .icon-top {
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;
        gap: 3px;
    }

    .icon-bottom {
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;
        gap: 3px;
    }

    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 153, 255, 0.082);

        height: 110px;
        width: 110px;
        border: 2px solid black;
        border-radius: 25px;
        font-size: 14px;

        ion-icon {
            font-size: 30px;
        }
    }
}
